body{
    background-image: url("ballons.jpg");
   /* background-size: cover; */
    background-repeat: no-repeat; 
    
}
label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
    font-family:  arial,sans-serif;;
}


input,
label {
    margin: 0.4rem 0;
}
input{
    border-radius: 5px;
    size: 200px;
    height: 20px;
    width: 100px;
}
button {
    margin: 10px;
    width: 100px;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(174, 170, 170);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}
circle{
    color: green;
    background-color: aqua;
}
#btn{
    margin: 10px;
    width: 100px;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    /* text-shadow: 1px 1px 1px #000; */
    border-radius: 7px;
    background-color: rgb(0, 0, 0);

}

button:hover {
    background-color: rgb(0, 132, 255);
}

button:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(3, 3, 3, 0.957);
}