.cards {
    margin-left: 1%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 20px;
}

.card {
    /* background-color: rgb(254, 253, 254); */
    display: grid;
    grid-template-rows: max-content 320px 1fr;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.card {
    display: grid;
    grid-template-rows: max-content 320px 1fr;
  }
  body{
    background-color: #bcb8b8;
  }